<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	は<a href="http://rubyonrails.org/">Ruby on Rails</a>
	を用いたウェブ開発技法を教えるための本やスクリーンキャストを作成するプロジェクトです。
</p>
<p>
	これは上記チュートリアルのサンプルアプリケーションです。
</p>