<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Ruby on Rails Tutorialのヘルプは
	<a href="http://railstutorial.jp/help">こちら</a>
	。
	Sample Appのヘルプを見るなら
	<a href="http://railstutorial.jp/book">こちら</a>
	。
</p>